{% load static %}
{% load solo_tags %}
{% load widget_tweaks %}

{% get_solo 'englisher.SiteConfiguration' as site_config %}
<footer id="footer" class="dark">
    <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap">

            <div class="row col-mb-50 text-center justify-content-center">

                <div class="col-lg-6">
                    <div class="widget subscribe-widget clearfix">
                        <h5><strong>Subscribe</strong> to our Newsletter to get Important News <br>& Amazing Offers</h5>
                        <div class="widget-subscribe-form-result"></div>
                        <form id="widget-subscribe-form" action="{% url 'test-url' %}" method="post" class="mb-0">
                            {% csrf_token %}
                            <div class="input-group mx-auto">
                                <div class="input-group-text"><i class="icon-email2"></i></div>
                                <input type="email" maxlength="250" required id="id_email widget-subscribe-form-email" name="email" class="form-control required email" placeholder="Enter your Email">
                                <button type="submit" class="btn btn-danger">Subscribe</button>
                            </div>
                        </form>
                    </div>
                    <div class="logo-name">
                        <img src="{% static 'images/footer.jpg' %}" alt="Image" height="80" width="80" class="footer-img">
                        <span class="bold">Englisher</span>
                    </div>
                    <div class="d-flex justify-content-center justify-content-md-center mt-5">
                        <a href="https://www.facebook.com/Englisher87/" target="_blank" class="social-icon si-small si-borderless si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="https://www.instagram.com/englisherofficial/" target="_blank" class="social-icon si-small si-borderless si-instagram">
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                        </a>

                        <a href="https://youtube.com/c/TheEnglisher" target="_blank" class="social-icon si-small si-borderless si-youtube">
                            <i class="icon-youtube"></i>
                            <i class="icon-youtube"></i>
                        </a>

                        <a href="https://www.linkedin.com/company/englisher/" target="_blank" class="social-icon si-small si-borderless si-linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>

                        <a href="https://wa.me/message/JUUVMHPSUP7MC1" target="_blank" class="social-icon si-small si-borderless si-whatsapp">
                            <i class="icon-whatsapp"></i>
                            <i class="icon-whatsapp"></i>
                        </a>
                    </div>
                    <style>
                        .color-pink{
                            color: #de3e69 !important;
                        }
                        [class*=col-mb-]>.col, [class*=col-mb-]>[class*=col-] {
                            padding-bottom: 0;
                        }
                        #footer .footer-widgets-wrap {
                            position: relative;
                            padding: 80px 0 0 0;
                        }
                        .copy-right{
                            font-size: 10px;
                        }
                    </style>
                        <div class="mt-5 copy-right">
                            Copyrights &copy; 2022 All Rights Reserved by Englisher.<br>
                            <p class="">Developed by <a href="https://www.facebook.com/apppump404/" target="_blank" class="color-pink"> App Pump</a></p>
                        </div>
                </div>
            </div>

        </div><!-- .footer-widgets-wrap end -->

    </div>
</footer>