<div class="container clearfix mt-5">

    <div id="oc-clients" class="owl-carousel image-carousel carousel-widget" data-margin="60" data-loop="true" data-nav="false" data-autoplay="5000" data-pagi="false" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="5" data-items-xl="6">
        {% for sponsor in sponsors %}
            <div class="oc-item"><a href="#"><img src="{{sponsor.sponsor_image.url}}" alt="{{sponsor.sponsor_name}}"></a></div>
        {% endfor %}
    </div>


</div>