{% extends "base.html" %}
{% load static %}
{% load solo_tags %}
{% load blog_tags %}


{% block content %}
{% get_solo 'englisher.AboutEnglisher' as about_englisher %}
<div class="container">
    <div class="row">
        <div class="col-lg-7 align-self-end">

            <div class="position-relative overflow-hidden">
                <img src="{{about_englisher.englisher_image.url}}" data-animate="fadeInUp" data-delay="100" alt="Chrome">
            </div>

        </div>
        <div class="col-lg-5">
            <p class="lead">{{about_englisher.body|markdown}}</p>
        </div>

        

    </div>
</div>
<div class="section my-0">
    <div class="container">

        <div class="row mt-4 col-mb-50">
            {% for feat in features %}
            <div class="col-lg-4">
                <i class="i-plain color i-large {{feat.icon}} inline-block" style="margin-bottom: 15px;"></i>
                <div class="heading-block border-bottom-0" style="margin-bottom: 15px;">
                    <h4>{{feat.value}}</h4>
                </div>
                <p>{{feat.body}}</p>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock content %}